<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Encabezado -->
    <header class="header">
        <a href="/index.html" class="logo"> <i class="fas fa-pizza-slice"></i> pizza</a>
        <nav class="navbar">
            <a href="/index.html">Inicio</a>
            <a href="/view/menu.html">Menú</a>
            <a href="/view/galería.html">Galería</a>
            <a href="/view/contacto.html">Contacto</a>
            <a href="/view/presupuestos.html">Presupuestos</a>
        </nav>
    </header>

    <!-- Contenido principal -->
    <div class="heading">
        <h1>Nuestra Ubicación</h1>
        <p><a href="/index.html">INICIO</a> Contacto</p>
    </div>

    <div class="img-container">
        <img src="/images/mapa.png" width="600" height="371" alt="Mapa de ubicación">
    </div>

    <!-- Pie de página -->
    <section class="footer">
        <div class="footer-content">
            <p>©Todos los derechos reservados.</p>
            <nav class="footer-links">
                <a href="#">Política de privacidad</a>
                <a href="#">Términos de servicio</a>
            </nav>
            <div class="social-links">
                <a href="Facebook">Facebook</a>
                <a href="Twitter">Twitter</a>
                <a href="Instagram">Instagram</a>
            </div>
        </div>
    
    </section>

</body>
</html>
