<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <a href="/index.html" class="logo"> <i class="fas fa-pizza-slice"></i> pizza</a>

        <nav class="navbar">
            <a href="/index.html">Inicio</a>
            <a href="/view/menu.html">Menú</a>
            <a href="/view/galería.html">Galería</a>
            <a href="/view/contacto.html">Contacto</a>
            <a href="/view/presupuestos.html">Presupuestos</a>
        </nav>
    </header>

    <div class="heading">
        <h1>Nuestro Menu</h1>
        <p><a href="/index.html">INICIO</a> Menu</p>
    </div>

    <section class="menu">
        <div class="swiper menu-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <h3 class="title">pizza</h3>
                    <div class="box-container">
                        <div class="box" data-name="pizza">
                            <div class="info">
                                <h3>pepproni pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€56.99</div>
                        </div>
                        <div class="box" data-name="pizza">
                            <div class="info">
                                <h3>pepproni pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€56.99</div>
                        </div>
                        <div class="box" data-name="pizza">
                            <div class="info">
                                <h3>pepproni pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€56.99</div>
                        </div>
                        <div class="box" data-name="pizza">
                            <div class="info">
                                <h3>pepproni pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€56.99</div>
                        </div>
                        <div class="box" data-name="pizza">
                            <div class="info">
                                <h3>pepproni pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€56.99</div>
                        </div>
                        <div class="box" data-name="pizza">
                            <div class="info">
                                <h3>pepproni pizza</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€56.99</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <h3 class="title">Pasta</h3>
                    <div class="box-container">
                        <div class="box" data-name="pasta">
                            <div class="info">
                                <h3>deliciosa pasta</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="pasta">
                            <div class="info">
                                <h3>deliciosa pasta</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="pasta">
                            <div class="info">
                                <h3>deliciosa pasta</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="pasta">
                            <div class="info">
                                <h3>deliciosa pasta</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="pasta">
                            <div class="info">
                                <h3>deliciosa pasta</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="pasta">
                            <div class="info">
                                <h3>deliciosa pasta</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <h3 class="title">Postres</h3>
                    <div class="box-container">
                        <div class="box" data-name="sweet">
                            <div class="info">
                                <h3>postres dulces</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="sweet">
                            <div class="info">
                                <h3>postres dulces</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="sweet">
                            <div class="info">
                                <h3>postres dulces</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                        <div class="box" data-name="sweet">
                            <div class="info">
                                <h3>postres dulces</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis veniam</p>
                            </div>
                            <div class="price">€47.99</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="menu-preview-container">
        <div id="close" class="fas fa-times"></div>
        <div class="menu-preview" data-target="pizza">
            <h3>pepproni pizza</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit</p>
            <div class="price">€56.99</div>
            <a href="#" class="btn">Añadir al carrito</a>
        </div>
        <div class="menu-preview" data-target="pasta">
            <h3>deliciosa pasta</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit</p>
            <div class="price">€56.99</div>
            <a href="#" class="btn">Añadir al carrito</a>
        </div>
        <div class="menu-preview" data-target="sweet">
            <h3>postres dulces</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit</p>
            <div class="price">€56.99</div>
            <a href="#" class="btn">Añadir al carrito</a>
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer-content">
            <p>© 2024 Your Company Name. Todos los derechos reservados.</p>
            <nav class="footer-links">
                <a href="/politica-privacidad">Política de privacidad</a>
                <a href="/terminos-servicio">Términos de servicio</a>
            </nav>
            <div class="social-links">
                <a href="https://www.facebook.com/yourpage" target="_blank" rel="noopener noreferrer">Facebook</a>
                <a href="https://twitter.com/yourhandle" target="_blank" rel="noopener noreferrer">Twitter</a>
                <a href="https://www.instagram.com/yourprofile" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
        </div>
    </footer>
</body>

</html>